
<div  *ngIf="this.successBooking == 1">
    <div *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
      </div>
</div>

  
<div class="container ml-5 mt-5">
    <div class="row">
        <div class="col-sm-3">
            <article>
                <form class="form-inline my-2 my-lg-0"><object data="i" type=""></object>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search your lawyer ">
                </form>
                <p></p>
                <br>

                <div class="">
                    <h4 class="text-primary">Select a category </h4>

                    <div class="container ml-5">
                        <input type="radio" name="category" value="All" checked (change)="radioChangeaHandler($event)">
                        <label> &nbsp; All</label>
                        <div *ngFor="let category of categories">
                            <input type="radio" name="category" value="{{category}}"
                                (change)="radioChangeaHandler($event)">
                            <label> &nbsp; {{category}}</label>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-sm-6">
            <!-- <img class="avatar border-gray"
                src="{{this.imageUrl}}" alt="..."
                style="padding:5px;padding-right:30px;width: 180px;height: 120px;"><b>{{username}}</b>
                result.image.replace(/\\/g, '/').replace(/public/g, '')
                'http://localhost:3000/' + result.image.replace(/\\/g, '/').replace(/public/g, '')
        </p> -->
            <div class="container border pt-5 pb-5" style="padding:15px;box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
                
                <div class="m-2" *ngFor="let lawyer of lawyers">
                    <!-- call child component -->
                    <app-lawyer [lawyer]="lawyer"></app-lawyer>
                    
                </div>
            </div>
        </div>
    </div>
</div>
