<!DOCTYPE html>
<html>
  <head>
    <title>Enter new password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="card" style="padding:15px;box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
  <div class="header">
          <h4 class="title"><strong>Enter new password</strong></h4>
      </div>    
<div class="content">
          <form action="/users/updatePasswordViaEmail" method="POST">
          <div class="row">
                      <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" name="email" class="form-control" value="{{email}}" hidden>
                              </div>
                      </div>
              </div>
              <div class="row">
                      <div class="col-md-6">
                              <div class="form-group">
                                  <label>New Password</label>
                                  <input type="password" name="password" class="form-control" placeholder="new password" required>
                              </div>
                      </div>
              </div>
              <div class="row">
                      <div class="col-md-6">
                              <div class="form-group">
                                  <label>Confirm Password</label>
                                  <input type="password" name="confirmPassword" class="form-control" placeholder="confirm password" required>
                              </div>
                          </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right">Save Changes</button>
              <div class="clearfix"></div>
          </form>
      </div>
</div>
</body>
</html>