<div class="row border ">
  <div class="col-7 m-2">
    <div class="row">
      <div class="col-2">
        <img class="avatar border-gray" src="{{this.imageUrl}}" alt="..." class="rounded-circle  border"
          style="width: 30px; height: 30px;">
      </div>
      <div class="col-9">
        <a [routerLink] routerLinkActive="routerLinkActive" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> {{lawyer.username}}</a>
      </div>
    </div>
  </div>
  <div *ngIf="this.currentUserType== 'Client'" class="col-4 m-2">
    <button class="btn btn-info btn-sm pull-right" (click)="appointment()">Book Now</button>
  </div>
  <div *ngIf="this.currentUserType== 'Admin'" class="col-5">
    <button class="btn btn-danger btn-sm" (click)="delete(lawyer._id)">Delete Lawyer</button>
  </div>

</div>
<div *ngIf="this.alert===1" class="col-5">
  <p class="alert alert-success">
    <strong>User Deletion Successfull!</strong>
  </p>
</div>

<div id="collapseExample" [ngbCollapse]="isCollapsed" class="border m-2 p-2">
  <div class="row">
    <div class="col-6  p-0" style="margin-left:20px; margin-top: 10px;">
      <b>{{lawyer.username}}</b>
      <img class="avatar border-gray" src="{{this.imageUrl}}" alt="..."
        style="padding:5px;padding-right:30px;width: 150px;height: 150px;">

      <!-- display rating -->
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="averageRate" [starTemplate]="t" [readonly]="true" max="5">
      </ngb-rating>

    </div>

    <div class="col pt-2 ">
      <small><b>Practise Area</b></small><br>

      <small>-Nugegoda</small>
      <br>
      <hr>
      <small><b>Expertise</b></small><br>

      <small>-Business</small><br>
      <small>-Family</small><br>
      <small>-Real State</small><br>
      <small>-Debt Recovery</small><br>
      <hr>
      <small><b>Contact details</b></small>
      <br>
      <small>Contact No: {{lawyer.number}}</small><br>
      <small>Email</small><br>
      <small>{{lawyer.email}}</small>
    </div>
  </div>
</div>