<!-- header -->

<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" routerLink="/dashboard">Legal</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form> -->
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-none d-xl-block">
                <a
                    href="https://github.com/start-angular/SB-Admin-BS4-Angular-7/archive/master.zip"
                    class="nav-link btn mt-1" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"
                >
                    {{ 'Download Now' | translate }}
                </a>
            </li> &nbsp; -->
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                    (click)="rltAndLtr()"
                >
                    RTL/LTR
                </a>
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{username}}</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{username}}</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{username}}</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li>
            <!-- <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'English' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
                        {{ 'French' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')">
                        {{ 'Urdu' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                        {{ 'Spanish' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('it')">
                        {{ 'Italian' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fa')">
                        {{ 'Farsi' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
                        {{ 'German' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh-CHS')">
                        {{ 'Simplified Chinese' | translate }}
                    </a>
                </div>
            </li> -->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{username}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a routerLink="/profile" class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>




<!-- sidebar -->

<div class="row header-section">
      <span></span>
</div>

<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a *ngIf="currentUserType =='Lawyer'" [routerLink]="['/clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o" ></i>&nbsp;
            <span>{{ 'Clients' | translate }}</span>
        </a> 
        <a *ngIf="currentUserType !='Admin'" [routerLink]="['/appointment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Appointments' | translate }}</span>
        </a>
        <a [routerLink]="['/lawyers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Lawyers' | translate }}</span>
        </a>
        <a *ngIf="currentUserType!='Admin'" routerLink="/file" class="list-group-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Files' | translate }}</span>
        </a>
        <a routerLink="/notifications" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Notifications' | translate }}</span>
        </a>
        <!-- <a routerLink="/report" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Report' | translate }}</span>
        </a> -->
        <a routerLink="/profile" class="list-group-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>{{ 'Profile' | translate }}</span>
        </a>
        <a *ngIf="currentUserType!='Admin'" routerLink="/calender" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Calander' | translate }}</span>
        </a>
        <a [routerLink]="['/post']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Post' | translate }}</span>
        </a>
        <div *ngIf="this.currentUserType=='Admin'">
        <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Category' | translate }}</span>
        </a>
        </div>
        <a *ngIf="currentUserType!='Admin'" [routerLink]="['/cases']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Cases' | translate }}</span>
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{username}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a routerLink="/profile" href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
<br>

<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <div class="col-md-12">
                    <a class="btn rounded-btn btn btn-outline-primary pick_btn" (click)="uploadF()">Upload Files</a>&nbsp;
                    <a class="btn rounded-btn btn btn-outline-primary pick_btn" (click)="shareF()">Share Files</a>&nbsp;
                    <a class="btn rounded-btn btn btn-outline-primary pick_btn" (click)="revF()">Get Received Items</a>&nbsp;
                </div>
        </div>
    </div>
</div>

<!-- file -->
<div *ngIf="uploadf === 1">
<div class="container-fluid">
  

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="row card">
              <div class="col-sm-12">
                  <h4>Upload Files to Your Store</h4>
                  <div id="fileSelector">
                      <input type="file" name="fileUplaod" id="fileUpload"
                      multiple ng2FileSelect [uploader]="uploader" style="display: none;" (change)="selectImage($event)" #fileInput>
                      <button class="btn btn-outline-primary my-4 btn-block box_border pick_btn" type="button" (click)="fileInput.click()">Choose a file</button>
                  </div>
                  <div>
                      <div class="row uploadList" *ngFor="let item of uploader.queue">
                          <div class="col-sm-4">{{item.file.name}}</div>
                          <div class="col-sm-4">
                              <div class="progress">
                                  <div class="progress-bar bg-success" 
                                  [ngStyle]="{'width':item.progress+'%'}"></div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                                  <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                                  <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                          </div>
                      </div>                        
                  </div>
                  <div class="row" *ngIf="uploader?.queue?.length > 0">
                          <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
                  </div>
              </div>                
          </div>

          <div class="row card">
              <h4>Download Section</h4>

              <div class="row" *ngFor="let item of attachmentList; let i = index"
              style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                  <div class="col-sm-7">{{item.originalname}}</div>
                  <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" (click)="download(i)">Download</button></div>
              </div>
          </div>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>
</div>

<!-- share -->
<div *ngIf="sharef === 1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row card">
                <div class="col-sm-12">
                    <h4>Share Files</h4>
                    <form role="form" [formGroup]="shareForm">
                        <div class="form-group;form-content">
                            <div class="form-group">
                                <label for="lawyers"><strong>Choose  a receiver</strong></label>
                                <select class="form-control;browser-default custom-select mb-4 box_border" #t (change)="callType(t.value)" id="type" formControlName="lawyer">
                                  <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="row"  *ngIf="showMsg">
                                    <div class="col-xs-12">
                                      <p class="alert alert-success">
                                          <strong>File Upload Successfull!</strong>
                                      </p>
                                    </div>
                                  </div>
                                <span *ngIf="fileName">File Name : {{fileName}}</span>
                                <input  formControlName="image" type="file" (change)="imageUpload($event)" style="display: none;" #fileInput>
                                <button class="btn btn-outline-primary my-4 btn-block box_border pick_btn" type="button"
                                                    (click)="fileInput.click()">Get a file</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="share()">Share File</button>
                    </form>
                </div>                
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- receive -->

<div *ngIf="revf === 1">
    <div class="container-fluid">
      
    
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row card">
                    <div class="col-sm-12">
                        <h4 class="card-title">Received Files</h4>
                        <div class="search-hero">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for files">
                          </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Sent By</th>
                                        <td><b>Options</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of receivedFiles | filter:searchText">
                                        <td>{{file.name}}</td>
                                        <td>{{file.from}}</td>
                                        <td> <button class="btn btn-primary" (click)="downloadFile(file.name)">Download</button>&nbsp;
                                             <button class="btn btn-danger" (click)="deleteFile(file.name)" onClick="window.location.reload();">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>                
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
      </div>
    </div>