<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Appointment</h1><br>
            <h4 class="text-muted"><b>{{lawyer?.username}}</b></h4>
            <hr>
            <img class="avatar border-gray" src="{{this.imageUrl}}" alt="..."
                style="padding:5px;padding-right:30px;width: 150px;height: 150px; ">
        </div>
        <div class="col m-2">
            <form (ngSubmit)="appointment()">
                <div class="form-group">
                    <label for="exampleInputSubject"><b>Subject</b></label>
                    <input type="text" class="form-control" id="exampleInputSubject" name="subject" placeholder="Enter Subject"
                    [(ngModel)]="appointmentModel.subject">
                </div>
                <div class="form-group">
                    <label for="exampleInputDescription"><b>Description</b></label>
                    <input type="text" class="form-control" id="exampleInputDescription" name="description" placeholder="Enter Description"
                    [(ngModel)]="appointmentModel.description">
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <p><b>Start Time</b></p>
                        <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" name="startDateTime"
                            [(ngModel)]="appointmentModel.startDateTime">
                        </dl-date-time-picker>
                    </div>

                    <div class="col">
                        <p class="text-center"><b>Finish Time</b></p>
                        <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" name="finishDateTime"
                            [(ngModel)]="appointmentModel.finishDateTime">
                        </dl-date-time-picker>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>