<html>
  
  <head>
      <meta charset="utf-8">
      <title>HTML5 Contact Form</title>
  </head>

  <body>
    <div class ="row">
    <div *ngIf="postf==1 && typef==1" class = "col-6">
    <form role="form" [formGroup]="postForm">
      
      <ul>

        
          <h2 >Create a post</h2>
          <span class="required_notification"></span>
        

        <li>
          <label for="name">Name</label><br>
            <input type="text" formControlName= "name" placeholder="JohnSilva" required>
            <p>
        </li>

        <li>
          <label for="email">Email</label><br>
          <input type="email" formControlName= "email" placeholder="John123@xxx.com" required>
          <span class="form_hint">Proper format "name@something.com"</span>
          <p>
        </li>

        <li>
          <label for="title">Title of Post</label>
          <br>
          <input type="text" formControlName= "title" placeholder="Title" required>
          <span class="form_hint">Proper format "Heading"</span>
          <p>
        </li>

        <li>
          <label for="description">Description</label>
          <p></p>
          <textarea formControlName= "description" cols="40" rows="6" placeholder="Your description" required></textarea>
        </li>
        
        
       <button class="submit" (click)="post()" onClick="window.location.reload()">Post</button>
        

      </ul>

    </form>
    </div>


    <div *ngIf="editf==1 && typef==1 " class = "col-6">
    <form role="form" [formGroup]="updateForm">
      
      <ul>

        
          <h2 >Create a post</h2>
          <span class="required_notification"></span>
        

        <li>
          <label for="name">Name</label><br>
            <input type="text" formControlName= "name" placeholder="editname" value = {{details.name}} required>
            <p>
        </li>

        <li>
          <label for="email">Email</label><br>
          <input type="email" formControlName= "email" placeholder="editmail@xxx.com" value = {{details.email}} required>
          <span class="form_hint">Proper format "name@something.com"</span>
          <p>
        </li>

        <li>
          <label for="title">Title of Post</label>
          <br>
          <input type="text" formControlName= "title" placeholder="Title" value= {{details.title}} required>
          <span class="form_hint">Proper format "Heading"</span>
          <p>
        </li>

        <li>
          <label for="description">Description</label>
          <p></p>
          <textarea formControlName= "description" cols="40" rows="6" placeholder="Your description" value ={{details.description}} required></textarea>
        </li>
        
        
       <button class="submit" (click)="update(details._id)" onClick="window.location.reload()">Update</button>
        

      </ul>

    </form>
    </div>
    <div class="col-6" *ngIf="typef==1">
      <table class="table table-hover">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">
      
      </th>
    </tr>
  </thead>
  <tbody *ngIf='posts?.length > 0'>
    <tr *ngFor='let post of posts' >
      
      <td>{{post.name}}</td>
      <td>{{post.email}}</td>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
      <td>
      <button type="button" class="btn btn-outline-danger" (click)="Delete(post._id)">Delete</button>&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="Edit(post._id)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
    </div>
<!--client view-->
    <div class="col-12" *ngIf="typef!=1">
      <table class="table table-hover" border="1" bordercolor="#3e402d">
  <thead>
    <tr>
      
      <th scope="col" bgcolor="#42f5a4">Name</th>
      <th scope="col" bgcolor="#e3ed8a">Email</th>
      <th scope="col" bgcolor="#42f5a4">Title</th>
      <th scope="col" bgcolor="e3ed8a">Description</th>
      
    </tr>
  </thead>
  <tbody *ngIf='posts?.length > 0'>
    <tr *ngFor='let post of posts' >
      
      <td>{{post.name}}</td>
      <td>{{post.email}}</td>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
      
    </tr>
  </tbody>
</table>
    </div>
    </div>
  </body>

</html>



