<h3>Clients</h3><br>
<div class="container">
  <!-- display pending clients -->
  <h4 class="text-muted">Pending Clients</h4><br>
  <div *ngIf='pendingClients?.length > 0'>
    <div *ngFor='let pendingClient of pendingClients'>
       <div class="border col-7 container ml-5">
        <div class="row">
          <div class="col-5 mt-2">
            <i class="fa fa-user-circle-o" style="font-size:24px"></i>
            {{pendingClient.clientName}}
          </div>
          <div class="col">
            <button class="btn btn-primary btn-sm m-2 pull-right " (click)="createCase(pendingClient);open(content)"><i class="fa fa-plus" ></i> New Case</button>
            <!-- popup a form -->
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Open a New Case -{{pendingClient.clientName}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
              <div class="modal-body">
                
                  <div class="form-group">
                    <label >Case Title</label>
                    <input type="text" class="form-control">                
                  </div>
                  <div class="form-group">
                    <label >Case Type</label>
                    <select class="form-control form-control-sm">
                      <option>Family</option>
                      <option >Criminal</option>
                    </select>
                  </div>
                 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="modal.close('Save click')">Submit</button>
              </div>
            </form>
            </ng-template>
          </div>
        </div>
       </div>
    </div>
  </div><br>
  <!-- display current clients -->
  <h4 class="text-muted">Clients</h4><br>
  <div></div>



</div>



<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>